ul.blog-home {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	width: 100%;
	list-style: none;
	margin: 0px 0px 50px;
	padding: 0px;
	text-align: left;
}

ul.blog-home li {
	background: rgb(17, 17, 17);
	border-radius: 4px;
	padding: 15px;
	transition: all 0.4s ease 0s;
	opacity: 0.4;
	box-shadow: rgb(0 0 0 / 50%) 0px 0px 10px;
}

ul.blog-home li:hover {
	transform: translateY(-10px);
	transition: 0.4s;
	opacity: 1;
}

ul.blog-home img {
	width: 100%;
	height: 150px;
	border-radius: 4px;
	object-fit: cover;
}

.title {
	font-family: Fira Sans,sans-serif;
	direction: ltr;
	margin: 10px 0px 5px;
}

.time {
	font-size: 14px;
	color: rgb(189, 189, 189);
	direction: ltr;
}

@media (max-width:639px) {
	ul.blog-home {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 20px;
		width: 100%;
		list-style: none;
		margin: 0px 0px 50px;
		padding: 0px;
		text-align: left;
	}
}